Datasheet 4.01B: Migration to and from the United Kingdom by citizenship group, sex and age by country of last or next residence. Countries of last or next residence in groups."

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
from pathlib import Path

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence')
metadata

{'about': 'International Passenger Survey detailed estimates of Long-Term International Migration: Citizenship, sex and age by country of last or next residence. UK, Underlying datasheet 1.',
 'fileURL': 'https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence/2016/underlyingdatasheet4.01ipscitizenshipgroupbysexbyagebycountryoflastornextresidence2016.xls',
 'mailto': 'mailto:migstatsunit@ons.gsi.gov.uk',
 'nextRelease': datetime.date(2018, 11, 29),
 'releaseDate': datetime.date(2017, 11, 30),
 'title': 'International Passenger Survey\xa04.01, citizenship\xa0group\xa0by sex by age by country of last or next residence'}

In [3]:
inputFile = sourceFolder / 'data.xls'
response = session.get(metadata['fileURL'])
# with open(inputFile, 'wb') as f:
#   f.write(response.content)
# # tab = loadxlstabs(inputFile, sheetids='Datasheet 4.01A')[0]

In [4]:
response.content

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [5]:
xls = pd.ExcelFile(BytesIO(response.content))
df1 = pd.read_excel(xls, 'Datasheet 4.01B', header = 7)

In [6]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Row Label,RESC All EST,RESC All CI,RESC Afghanistan EST,RESC Afghanistan CI,...,RESC Estonia EST,RESC Estonia CI,RESC Ethiopia EST,RESC Ethiopia CI,RESC Fiji EST,RESC Fiji CI,RESC Finland EST,RESC Finland CI,RESC France EST,RESC France CI
0,Inflow,All citizenships,Persons,All ages,NaN,"INFLOW, CIT All, Persons, Age All",526.6,34.4,1,1.4,...,0.3,0.6,1,1.2,0.3,0.6,0.2,0.3,33,10.2
1,NaN,NaN,NaN,Quinary age groups,0 - 4,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,.,.,...,.,.,.,.,.,.,.,.,.,.
2,NaN,NaN,NaN,NaN,5 - 9,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,.,.,...,.,.,.,.,.,.,0.1,0.1,3.5,6.3
3,NaN,NaN,NaN,NaN,10 - 14,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,.,.,...,.,.,.,.,.,.,.,.,.,.
4,NaN,NaN,NaN,NaN,15 - 19,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,.,.,...,0.3,0.6,.,.,.,.,.,.,5.9,3.6
5,NaN,NaN,NaN,NaN,20 - 24,"INFLOW, CIT All, Persons, AGQ 20-24",144.6,20,0.5,0.9,...,.,.,.,.,.,.,.,.,6.6,4.1
6,NaN,NaN,NaN,NaN,25 - 29,"INFLOW, CIT All, Persons, AGQ 25-29",117.3,14.6,.,.,...,.,.,0.5,1,.,.,.,.,7.8,3.8
7,NaN,NaN,NaN,NaN,30 - 34,"INFLOW, CIT All, Persons, AGQ 30-34",72.2,13.1,.,.,...,.,.,.,.,.,.,.,.,4.4,3
8,NaN,NaN,NaN,NaN,35 - 39,"INFLOW, CIT All, Persons, AGQ 35-39",42.8,9,0.5,1,...,.,.,0.2,0.4,0.3,0.6,0.1,0.2,0.9,1.1
9,NaN,NaN,NaN,NaN,40 - 44,"INFLOW, CIT All, Persons, AGQ 40-44",26.7,7.3,.,.,...,.,.,.,.,.,.,.,.,3.3,2.8
10,NaN,NaN,NaN,NaN,45 - 49,"INFLOW, CIT All, Persons, AGQ 45-49",15,6.1,.,.,...,.,.,.,.,.,.,.,.,0.4,0.9
11,NaN,NaN,NaN,NaN,50 - 54,"INFLOW, CIT All, Persons, AGQ 50-54",12.7,5.1,.,.,...,.,.,.,.,.,.,.,.,0.2,0.5
12,NaN,NaN,NaN,NaN,55 - 59,"INFLOW, CIT All, Persons, AGQ 55-59",6,2.9,.,.,...,.,.,0.3,0.6,.,.,.,.,.,.
13,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AGQ 60-64",1.9,1.4,.,.,...,.,.,.,.,.,.,.,.,.,.
14,NaN,NaN,NaN,NaN,65 - 69,"INFLOW, CIT All, Persons, AGQ 65-69",4.1,3,.,.,...,.,.,.,.,.,.,.,.,.,.
15,NaN,NaN,NaN,NaN,70 - 74,"INFLOW, CIT All, Persons, AGQ 70-74",1,2,.,.,...,.,.,.,.,.,.,.,.,.,.
16,NaN,NaN,NaN,NaN,75 - 79,"INFLOW, CIT All, Persons, AGQ 75-79",0.5,1,.,.,...,.,.,.,.,.,.,.,.,.,.
17,NaN,NaN,NaN,NaN,80 - 84,"INFLOW, CIT All, Persons, AGQ 80-84",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,NaN,NaN,NaN,NaN,85 - 89,"INFLOW, CIT All, Persons, AGQ 85-89",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
19,NaN,NaN,NaN,NaN,90 and over,"INFLOW, CIT All, Persons, AGQ 90 plus",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,NaN,NaN,NaN,Alternative age groups 1,0 - 16,"INFLOW, CIT All, Persons, AG1 0-16",32.5,9.3,.,.,...,.,.,.,.,.,.,0.1,0.1,3.5,6.3
21,NaN,NaN,NaN,NaN,17 - 18,"INFLOW, CIT All, Persons, AG1 17-18",23.3,6.3,.,.,...,0.3,0.6,.,.,.,.,.,.,2.7,2.6
22,NaN,NaN,NaN,NaN,19 - 21,"INFLOW, CIT All, Persons, AG1 19-21",82.8,16,0.5,0.9,...,.,.,.,.,.,.,.,.,5.8,4.1
23,NaN,NaN,NaN,NaN,22 - 59,"INFLOW, CIT All, Persons, AG1 22-59",380.5,28,0.5,1,...,.,.,1,1.2,0.3,0.6,0.1,0.2,20.9,6.3
24,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AG1 60-64",1.9,1.4,.,.,...,.,.,.,.,.,.,.,.,.,.
25,NaN,NaN,NaN,NaN,65 and over,"INFLOW, CIT All, Persons, AG1 65 plus",5.6,3.8,.,.,...,.,.,.,.,.,.,.,.,.,.
26,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"INFLOW, CIT All, Persons, AG2 0-14",26.2,8.6,.,.,...,.,.,.,.,.,.,0.1,0.1,3.5,6.3
27,NaN,NaN,NaN,NaN,15 - 24,"INFLOW, CIT All, Persons, AG2 15-24",200.1,22.3,0.5,0.9,...,0.3,0.6,.,.,.,.,.,.,12.4,5.5
28,NaN,NaN,NaN,NaN,25 - 44,"INFLOW, CIT All, Persons, AG2 25-44",259.1,22.8,0.5,1,...,.,.,0.7,1.1,0.3,0.6,0.1,0.2,16.3,5.7
29,NaN,NaN,NaN,NaN,45 - 59,"INFLOW, CIT All, Persons, AG2 45-59",33.7,8.5,.,.,...,.,.,0.3,0.6,.,.,.,.,0.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,NaN,NaN,NaN,NaN,90 and over,"BALANCE, CIT Not British or British Overseas, ...",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
1428,NaN,NaN,NaN,Alternative age groups 1,0 - 16,"BALANCE, CIT Not British or British Overseas, ...",6.7,5.1,.,.,...,.,.,.,.,.,.,0.1,0.1,0.3,0.6
1429,NaN,NaN,NaN,NaN,17 - 18,"BALANCE, CIT Not British or British Overseas, ...",13.3,4.8,.,.,...,0.3,0.6,.,.,.,.,.,.,1.2,1.5
1430,NaN,NaN,NaN,NaN,19 - 21,"BALANCE, CIT Not British or British Overseas, ...",29.4,10.3,0.5,0.9,...,.,.,.,.,.,.,-1.6,2.9,4.1,4
1431,NaN,NaN,NaN,NaN,22 - 59,"BALANCE, CIT Not British or British Overseas, ...",85,20.9,0.5,1,...,.,.,0.8,1.2,.,.,-0.4,0.5,5.3,4.5
1432,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,.,.,...,.,.,.,.,.,.,.,.,.,.
1433,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,.,.,...,.,.,.,.,.,.,.,.,-0.3,0.6
1434,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"BALANCE, CIT Not British or British Overseas, ...",4.5,4.9,.,.,...,.,.,.,.,.,.,0.1,0.1,0.3,0.6
1435,NaN,NaN,NaN,NaN,15 - 24,"BALANCE, CIT Not British or British Overseas, ...",68.2,16,0.5,0.9,...,0.3,0.6,.,.,.,.,-1.8,2.9,6.8,5.2
1436,NaN,NaN,NaN,NaN,25 - 44,"BALANCE, CIT Not British or British Overseas, ...",56.9,16.5,0.5,1,...,.,.,0.5,1,.,.,-0.2,0.3,3.9,3.3
1437,NaN,NaN,NaN,NaN,45 - 59,"BALANCE, CIT Not British or British Overseas, ...",4.9,6.4,.,.,...,.,.,0.3,0.6,.,.,.,.,.,.
1438,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,.,.,...,.,.,.,.,.,.,.,.,.,.
1439,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,.,.,...,.,.,.,.,.,.,.,.,-0.3,0.6
1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,"""."" - No contact, ""0~"" - Rounds to zero. Pleas...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,Countries of last or next residence for which ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observations = df1.iloc[:, 5:]
observations.head()

,Row Label,RESC All EST,RESC All CI,RESC Afghanistan EST,RESC Afghanistan CI,RESC Albania EST,RESC Albania CI,RESC Algeria EST,RESC Algeria CI,RESC Argentina EST,...,RESC Estonia EST,RESC Estonia CI,RESC Ethiopia EST,RESC Ethiopia CI,RESC Fiji EST,RESC Fiji CI,RESC Finland EST,RESC Finland CI,RESC France EST,RESC France CI
0,"INFLOW, CIT All, Persons, Age All",526.6,34.4,1,1.4,.,.,0.4,0.5,.,...,0.3,0.6,1,1.2,0.3,0.6,0.2,0.3,33,10.2
1,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
2,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,.,.,.,.,.,.,.,...,.,.,.,.,.,.,0.1,0.1,3.5,6.3
3,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,.,.,.,.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
4,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,.,.,.,.,.,.,.,...,0.3,0.6,.,.,.,.,.,.,5.9,3.6

In [8]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [9]:
new_table.head(50)

                                Row Label  Column label  Value
0       INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1       INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2       INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3     INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4     INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5
5     INFLOW, CIT All, Persons, AGQ 20-24  RESC All EST  144.6
6     INFLOW, CIT All, Persons, AGQ 25-29  RESC All EST  117.3
7     INFLOW, CIT All, Persons, AGQ 30-34  RESC All EST   72.2
8     INFLOW, CIT All, Persons, AGQ 35-39  RESC All EST   42.8
9     INFLOW, CIT All, Persons, AGQ 40-44  RESC All EST   26.7
10    INFLOW, CIT All, Persons, AGQ 45-49  RESC All EST     15
11    INFLOW, CIT All, Persons, AGQ 50-54  RESC All EST   12.7
12    INFLOW, CIT All, Persons, AGQ 55-59  RESC All EST      6
13    INFLOW, CIT All, Persons, AGQ 60-64  RESC All EST    1.9
14    INFLOW, CIT All, Persons, AGQ 65-69  RESC All EST    4.1
15    INFLOW, CIT All, Persons, AGQ 70-74  RESC All EST      1
16    INFLOW, CIT All, Persons, AGQ 75-79  RESC All EST    0.5
17    INFLOW, CIT All, Persons, AGQ 80-84  RESC All EST      .
18    INFLOW, CIT All, Persons, AGQ 85-89  RESC All EST      .
19  INFLOW, CIT All, Persons, AGQ 90 plus  RESC All EST      .
20     INFLOW, CIT All, Persons, AG1 0-16  RESC All EST   32.5
21    INFLOW, CIT All, Persons, AG1 17-18  RESC All EST   23.3
22    INFLOW, CIT All, Persons, AG1 19-21  RESC All EST   82.8
23    INFLOW, CIT All, Persons, AG1 22-59  RESC All EST  380.5
24    INFLOW, CIT All, Persons, AG1 60-64  RESC All EST    1.9
25  INFLOW, CIT All, Persons, AG1 65 plus  RESC All EST    5.6
26     INFLOW, CIT All, Persons, AG2 0-14  RESC All EST   26.2
27    INFLOW, CIT All, Persons, AG2 15-24  RESC All EST  200.1
28    INFLOW, CIT All, Persons, AG2 25-44  RESC All EST  259.1
29    INFLOW, CIT All, Persons, AG2 45-59  RESC All EST   33.7
30    INFLOW, CIT All, Persons, AG2 60-64  RESC All EST    1.9
31  INFLOW, CIT All, Persons, AG2 65 plus  RESC All EST    5.6
32         INFLOW, CIT All, Male, Age All  RESC All EST  277.3
33         INFLOW, CIT All, Male, AGQ 0-4  RESC All EST    4.7
34         INFLOW, CIT All, Male, AGQ 5-9  RESC All EST    7.2
35       INFLOW, CIT All, Male, AGQ 10-14  RESC All EST    4.7
36       INFLOW, CIT All, Male, AGQ 15-19  RESC All EST   22.2
37       INFLOW, CIT All, Male, AGQ 20-24  RESC All EST   73.8
38       INFLOW, CIT All, Male, AGQ 25-29  RESC All EST   62.3
39       INFLOW, CIT All, Male, AGQ 30-34  RESC All EST   37.2
40       INFLOW, CIT All, Male, AGQ 35-39  RESC All EST   26.2
41       INFLOW, CIT All, Male, AGQ 40-44  RESC All EST   16.1
42       INFLOW, CIT All, Male, AGQ 45-49  RESC All EST    8.4
43       INFLOW, CIT All, Male, AGQ 50-54  RESC All EST    6.9
44       INFLOW, CIT All, Male, AGQ 55-59  RESC All EST    2.3
45       INFLOW, CIT All, Male, AGQ 60-64  RESC All EST    1.8
46       INFLOW, CIT All, Male, AGQ 65-69  RESC All EST    2.1
47       INFLOW, CIT All, Male, AGQ 70-74  RESC All EST      1
48       INFLOW, CIT All, Male, AGQ 75-79  RESC All EST    0.5
49       INFLOW, CIT All, Male, AGQ 80-84  RESC All EST      .

In [10]:
new_table.shape

(116560, 3)

In [11]:
new_table.dropna(inplace=True)

In [12]:
new_table = new_table[new_table['Value'] != '.']

In [13]:
new_table = new_table[new_table['Value'] != '0']

In [14]:
new_table.head(50)

                                Row Label  Column label  Value
0       INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1       INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2       INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3     INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4     INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5
5     INFLOW, CIT All, Persons, AGQ 20-24  RESC All EST  144.6
6     INFLOW, CIT All, Persons, AGQ 25-29  RESC All EST  117.3
7     INFLOW, CIT All, Persons, AGQ 30-34  RESC All EST   72.2
8     INFLOW, CIT All, Persons, AGQ 35-39  RESC All EST   42.8
9     INFLOW, CIT All, Persons, AGQ 40-44  RESC All EST   26.7
10    INFLOW, CIT All, Persons, AGQ 45-49  RESC All EST     15
11    INFLOW, CIT All, Persons, AGQ 50-54  RESC All EST   12.7
12    INFLOW, CIT All, Persons, AGQ 55-59  RESC All EST      6
13    INFLOW, CIT All, Persons, AGQ 60-64  RESC All EST    1.9
14    INFLOW, CIT All, Persons, AGQ 65-69  RESC All EST    4.1
15    INFLOW, CIT All, Persons, AGQ 70-74  RESC All EST      1
16    INFLOW, CIT All, Persons, AGQ 75-79  RESC All EST    0.5
20     INFLOW, CIT All, Persons, AG1 0-16  RESC All EST   32.5
21    INFLOW, CIT All, Persons, AG1 17-18  RESC All EST   23.3
22    INFLOW, CIT All, Persons, AG1 19-21  RESC All EST   82.8
23    INFLOW, CIT All, Persons, AG1 22-59  RESC All EST  380.5
24    INFLOW, CIT All, Persons, AG1 60-64  RESC All EST    1.9
25  INFLOW, CIT All, Persons, AG1 65 plus  RESC All EST    5.6
26     INFLOW, CIT All, Persons, AG2 0-14  RESC All EST   26.2
27    INFLOW, CIT All, Persons, AG2 15-24  RESC All EST  200.1
28    INFLOW, CIT All, Persons, AG2 25-44  RESC All EST  259.1
29    INFLOW, CIT All, Persons, AG2 45-59  RESC All EST   33.7
30    INFLOW, CIT All, Persons, AG2 60-64  RESC All EST    1.9
31  INFLOW, CIT All, Persons, AG2 65 plus  RESC All EST    5.6
32         INFLOW, CIT All, Male, Age All  RESC All EST  277.3
33         INFLOW, CIT All, Male, AGQ 0-4  RESC All EST    4.7
34         INFLOW, CIT All, Male, AGQ 5-9  RESC All EST    7.2
35       INFLOW, CIT All, Male, AGQ 10-14  RESC All EST    4.7
36       INFLOW, CIT All, Male, AGQ 15-19  RESC All EST   22.2
37       INFLOW, CIT All, Male, AGQ 20-24  RESC All EST   73.8
38       INFLOW, CIT All, Male, AGQ 25-29  RESC All EST   62.3
39       INFLOW, CIT All, Male, AGQ 30-34  RESC All EST   37.2
40       INFLOW, CIT All, Male, AGQ 35-39  RESC All EST   26.2
41       INFLOW, CIT All, Male, AGQ 40-44  RESC All EST   16.1
42       INFLOW, CIT All, Male, AGQ 45-49  RESC All EST    8.4
43       INFLOW, CIT All, Male, AGQ 50-54  RESC All EST    6.9
44       INFLOW, CIT All, Male, AGQ 55-59  RESC All EST    2.3
45       INFLOW, CIT All, Male, AGQ 60-64  RESC All EST    1.8
46       INFLOW, CIT All, Male, AGQ 65-69  RESC All EST    2.1
47       INFLOW, CIT All, Male, AGQ 70-74  RESC All EST      1
48       INFLOW, CIT All, Male, AGQ 75-79  RESC All EST    0.5
52        INFLOW, CIT All, Male, AG1 0-16  RESC All EST   20.6
53       INFLOW, CIT All, Male, AG1 17-18  RESC All EST    8.9
54       INFLOW, CIT All, Male, AG1 19-21  RESC All EST   43.5
55       INFLOW, CIT All, Male, AG1 22-59  RESC All EST  198.8

In [15]:
new_table.shape

(18604, 3)

In [16]:
new_table['country'] = new_table['Column label'].replace(to_replace= r"RESC (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['country'] = new_table['country'].str.lower()
new_table['country'] = new_table['country'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
new_table['country'] = new_table['country'].replace(to_replace= r" ", value = "-", regex=True)
new_table['codelist'] = new_table['Column label'].str[0:4]
new_table['codelist'] = new_table['codelist'].str.lower()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['migration_flow'] = temp_table[0]
new_table['citizenship'] = temp_table[1]
new_table['sex'] = temp_table[2]
new_table['age'] = temp_table[3]
new_table['migration_flow'] = new_table['migration_flow'].str.strip()
new_table['migration_flow'] = new_table['migration_flow'].replace(to_replace= r" ", value = ":", regex=True)
new_table['citizenship'] = new_table['citizenship'].str.strip()
new_table['citizenship'] = new_table['citizenship'].replace(to_replace= r" ", value = ":", regex=True)
new_table['sex'] = new_table['sex'].str.strip()
new_table['age'] = new_table['age'].str.strip()
new_table['age'] = new_table['age'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[['Geography','Year','codelist','country','migration_flow','citizenship','sex','age','Measure Type','Value','CI','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('tidydata4.01B.csv'), index = False)

In [18]:
writeMetadata(metadata, 'ONS-LTIM-Passenger-survey-4.01B', 'Migration')

In [19]:
Final_table.count()

Geography         9302
Year              9302
codelist          9302
country           9302
migration_flow    9302
citizenship       9302
sex               9302
age               9302
Measure Type      9302
Value             9302
CI                9302
Unit              9302
dtype: int64