Datasheet 4.01A: Migration to and from the United Kingdom by Citizenship group, Sex and age by Country of Residence of last or next residence. Countries of last or next residence in groups."

In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
from pathlib import Path

sourceFolder = Path('in')
sourceFolder.mkdir(exist_ok=True)

%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence')
metadata

{'about': 'International Passenger Survey detailed estimates of Long-Term International Migration: Citizenship, sex and age by country of last or next residence. UK, Underlying datasheet 1.',
 'fileURL': 'https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipscitizenshipgroupbysexbyagebycountryoflastornextresidence/2016/underlyingdatasheet4.01ipscitizenshipgroupbysexbyagebycountryoflastornextresidence2016.xls',
 'mailto': 'mailto:migstatsunit@ons.gsi.gov.uk',
 'nextRelease': datetime.date(2018, 11, 29),
 'releaseDate': datetime.date(2017, 11, 30),
 'title': 'International Passenger Survey\xa04.01, citizenship\xa0group\xa0by sex by age by country of last or next residence'}

In [3]:
inputFile = sourceFolder / 'data.xls'
response = session.get(metadata['fileURL'])
# with open(inputFile, 'wb') as f:
#   f.write(response.content)
# # tab = loadxlstabs(inputFile, sheetids='Datasheet 4.01A')[0]

In [4]:
response.content

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [5]:
xls = pd.ExcelFile(BytesIO(response.content))
df1 = pd.read_excel(xls, 'Datasheet 4.01A', header = 7)

In [6]:
df1

,Software Readable Column Label (See Notes),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Row Label,RESC All EST,RESC All CI,RESC EU EST,RESC EU CI,...,RESC North Africa EST,RESC North Africa CI,RESC Sub-Saharan Africa EST,RESC Sub-Saharan Africa CI,RESC North America EST,RESC North America CI,RESC Central and South America EST,RESC Central and South America CI,RESC Oceania EST,RESC Oceania CI
0,Inflow,All citizenships,Persons,All ages,NaN,"INFLOW, CIT All, Persons, Age All",526.6,34.4,253.9,26.1,...,4.1,2.5,26,7.7,31.1,6.8,16,7,31.5,6.9
1,NaN,NaN,NaN,Quinary age groups,0 - 4,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,2.9,2,...,.,.,0.5,0.7,0.1,0.2,0.5,0.9,0.1,0.2
2,NaN,NaN,NaN,NaN,5 - 9,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,5.7,6.6,...,0.5,1,0.5,0.9,0.8,0.9,.,.,0.1,0.1
3,NaN,NaN,NaN,NaN,10 - 14,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,4.4,3.2,...,.,.,0.1,0.2,0.9,1.7,.,.,0.3,0.5
4,NaN,NaN,NaN,NaN,15 - 19,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,28.2,7.4,...,0.6,1,1.7,1.6,1.6,1.8,0.9,1.5,0.9,0.9
5,NaN,NaN,NaN,NaN,20 - 24,"INFLOW, CIT All, Persons, AGQ 20-24",144.6,20,67.8,14.1,...,1.2,1.4,6.5,5.6,5.4,2.9,3.5,3.7,6.4,2.6
6,NaN,NaN,NaN,NaN,25 - 29,"INFLOW, CIT All, Persons, AGQ 25-29",117.3,14.6,48.2,9.6,...,0.6,0.9,9.1,4,8.8,3.9,4.5,4.6,10.8,3.8
7,NaN,NaN,NaN,NaN,30 - 34,"INFLOW, CIT All, Persons, AGQ 30-34",72.2,13.1,34.8,11.1,...,0.5,0.7,1.8,1.2,4.2,2.1,4.4,2.7,5.4,3.4
8,NaN,NaN,NaN,NaN,35 - 39,"INFLOW, CIT All, Persons, AGQ 35-39",42.8,9,22.8,7.4,...,0.5,0.8,2.4,1.6,3.2,2.2,1.7,1.8,1.6,1.2
9,NaN,NaN,NaN,NaN,40 - 44,"INFLOW, CIT All, Persons, AGQ 40-44",26.7,7.3,15.9,6,...,.,.,0.2,0.3,1.3,1.1,.,.,2.4,2.3
10,NaN,NaN,NaN,NaN,45 - 49,"INFLOW, CIT All, Persons, AGQ 45-49",15,6.1,9,5.6,...,.,.,1.2,1.1,1.1,1,0.3,0.4,0.3,0.5
11,NaN,NaN,NaN,NaN,50 - 54,"INFLOW, CIT All, Persons, AGQ 50-54",12.7,5.1,9,4.7,...,0.2,0.3,0.1,0.1,1.2,1.1,0.2,0.4,0.9,1.1
12,NaN,NaN,NaN,NaN,55 - 59,"INFLOW, CIT All, Persons, AGQ 55-59",6,2.9,2.3,2,...,.,.,1.5,1.5,0.8,0.9,.,.,0.4,0.4
13,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AGQ 60-64",1.9,1.4,0.3,0.6,...,.,.,0.1,0.1,.,.,.,.,0.8,1
14,NaN,NaN,NaN,NaN,65 - 69,"INFLOW, CIT All, Persons, AGQ 65-69",4.1,3,1.6,1.7,...,.,.,0.3,0.4,1,1.1,.,.,1.1,2.2
15,NaN,NaN,NaN,NaN,70 - 74,"INFLOW, CIT All, Persons, AGQ 70-74",1,2,1,2,...,.,.,.,.,.,.,.,.,.,.
16,NaN,NaN,NaN,NaN,75 - 79,"INFLOW, CIT All, Persons, AGQ 75-79",0.5,1,.,.,...,.,.,.,.,0.5,1,.,.,.,.
17,NaN,NaN,NaN,NaN,80 - 84,"INFLOW, CIT All, Persons, AGQ 80-84",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
18,NaN,NaN,NaN,NaN,85 - 89,"INFLOW, CIT All, Persons, AGQ 85-89",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
19,NaN,NaN,NaN,NaN,90 and over,"INFLOW, CIT All, Persons, AGQ 90 plus",.,.,.,.,...,.,.,.,.,.,.,.,.,.,.
20,NaN,NaN,NaN,Alternative age groups 1,0 - 16,"INFLOW, CIT All, Persons, AG1 0-16",32.5,9.3,14.5,7.7,...,0.5,1,1.2,1.2,1.8,1.9,0.5,0.9,0.4,0.6
21,NaN,NaN,NaN,NaN,17 - 18,"INFLOW, CIT All, Persons, AG1 17-18",23.3,6.3,11.5,4.6,...,.,.,1.2,1.5,0.5,1,0.1,0.1,.,.
22,NaN,NaN,NaN,NaN,19 - 21,"INFLOW, CIT All, Persons, AG1 19-21",82.8,16,43.1,11.5,...,0.6,1,3.3,4.7,2.7,2.1,2.1,2.7,2.6,1.5
23,NaN,NaN,NaN,NaN,22 - 59,"INFLOW, CIT All, Persons, AG1 22-59",380.5,28,181.8,21.5,...,3,2,19.9,5.8,24.5,6,13.3,6.4,26.6,6.3
24,NaN,NaN,NaN,NaN,60 - 64,"INFLOW, CIT All, Persons, AG1 60-64",1.9,1.4,0.3,0.6,...,.,.,0.1,0.1,.,.,.,.,0.8,1
25,NaN,NaN,NaN,NaN,65 and over,"INFLOW, CIT All, Persons, AG1 65 plus",5.6,3.8,2.7,2.6,...,.,.,0.3,0.4,1.5,1.5,.,.,1.1,2.2
26,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"INFLOW, CIT All, Persons, AG2 0-14",26.2,8.6,13,7.6,...,0.5,1,1.1,1.2,1.8,1.9,0.5,0.9,0.4,0.6
27,NaN,NaN,NaN,NaN,15 - 24,"INFLOW, CIT All, Persons, AG2 15-24",200.1,22.3,96,15.9,...,1.8,1.7,8.2,5.9,7,3.4,4.4,4,7.2,2.8
28,NaN,NaN,NaN,NaN,25 - 44,"INFLOW, CIT All, Persons, AG2 25-44",259.1,22.8,121.7,17.5,...,1.6,1.4,13.5,4.4,17.6,5.1,10.6,5.6,20.3,5.7
29,NaN,NaN,NaN,NaN,45 - 59,"INFLOW, CIT All, Persons, AG2 45-59",33.7,8.5,20.2,7.6,...,0.2,0.3,2.8,1.8,3.1,1.7,0.5,0.5,1.6,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,NaN,NaN,NaN,NaN,22 - 59,"BALANCE, CIT Not British or British Overseas, ...",85,20.9,29.4,16,...,2,2,6.3,5.2,2.8,5.1,5.4,3.9,2.2,2.8
1432,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,-0.2,0.4,...,.,.,0.1,0.1,.,.,.,.,.,.
1433,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,-0.5,1.6,...,.,.,.,.,-0.3,0.6,.,.,-0.1,0.2
1434,NaN,NaN,NaN,Alternative age groups 2,0 - 14,"BALANCE, CIT Not British or British Overseas, ...",4.5,4.9,3.2,3.4,...,0.5,1,0.5,0.7,-1.5,2.9,.,.,0.3,0.5
1435,NaN,NaN,NaN,NaN,15 - 24,"BALANCE, CIT Not British or British Overseas, ...",68.2,16,27.9,11.6,...,1.5,1.7,2.7,3.1,2.1,2.9,2.6,3.3,2,1.6
1436,NaN,NaN,NaN,NaN,25 - 44,"BALANCE, CIT Not British or British Overseas, ...",56.9,16.5,22.2,13.3,...,1,1.4,2.6,4,3.3,3.5,3.1,2.5,1.1,2.5
1437,NaN,NaN,NaN,NaN,45 - 59,"BALANCE, CIT Not British or British Overseas, ...",4.9,6.4,4,5.3,...,.,.,1.6,1.4,-1.2,3,0.1,0.2,0.2,0.8
1438,NaN,NaN,NaN,NaN,60 - 64,"BALANCE, CIT Not British or British Overseas, ...",-0.1,0.4,-0.2,0.4,...,.,.,0.1,0.1,.,.,.,.,.,.
1439,NaN,NaN,NaN,NaN,65 and over,"BALANCE, CIT Not British or British Overseas, ...",-0.9,1.7,-0.5,1.6,...,.,.,.,.,-0.3,0.6,.,.,-0.1,0.2
1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1441,Source: Office for National Statistics (ONS).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,Totals may not sum due to rounding.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1445,"""z"" - Not applicable, ""."" - No contact, ""0~"" -...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1447,Migration between the UK and the Republic of I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1449,1 European Union estimates are for the EU15 (...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1450,2 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1451,3 Includes European Union countries as define...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,4 Excludes migrants to and from European Unio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1453,"5 From 2004 onwards, All and New Commonwealth...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1455,This table uses 95% confidence intervals (CI) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1457,Published on 30 November 2017 by the Office fo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1458,© Crown copyright. You may re-use this informa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1459,"To view this licence, go to: http://www.nation...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,"or write to the Information Policy Team, The N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
observations = df1.iloc[:, 5:]
observations.head()

,Row Label,RESC All EST,RESC All CI,RESC EU EST,RESC EU CI,RESC EU15 EST,RESC EU15 CI,RESC EU8 EST,RESC EU8 CI,RESC EU2 EST,...,RESC North Africa EST,RESC North Africa CI,RESC Sub-Saharan Africa EST,RESC Sub-Saharan Africa CI,RESC North America EST,RESC North America CI,RESC Central and South America EST,RESC Central and South America CI,RESC Oceania EST,RESC Oceania CI
0,"INFLOW, CIT All, Persons, Age All",526.6,34.4,253.9,26.1,150.7,20.7,42,10,57.8,...,4.1,2.5,26,7.7,31.1,6.8,16,7,31.5,6.9
1,"INFLOW, CIT All, Persons, AGQ 0-4",8.1,3.2,2.9,2,2.2,1.9,0.2,0.5,0.5,...,.,.,0.5,0.7,0.1,0.2,0.5,0.9,0.1,0.2
2,"INFLOW, CIT All, Persons, AGQ 5-9",10.2,7,5.7,6.6,4.6,6.4,0.2,0.4,0.9,...,0.5,1,0.5,0.9,0.8,0.9,.,.,0.1,0.1
3,"INFLOW, CIT All, Persons, AGQ 10-14",7.9,3.9,4.4,3.2,2.3,2.1,.,.,2,...,.,.,0.1,0.2,0.9,1.7,.,.,0.3,0.5
4,"INFLOW, CIT All, Persons, AGQ 15-19",55.5,10,28.2,7.4,17.5,6.1,4.7,2.6,5.1,...,0.6,1,1.7,1.6,1.6,1.8,0.9,1.5,0.9,0.9

In [8]:
new_table = pd.melt(observations,
                       ["Row Label"],
                       var_name="Column label",
                       value_name="Value")

In [9]:
new_table.head(50)

                                Row Label  Column label  Value
0       INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1       INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2       INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3     INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4     INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5
5     INFLOW, CIT All, Persons, AGQ 20-24  RESC All EST  144.6
6     INFLOW, CIT All, Persons, AGQ 25-29  RESC All EST  117.3
7     INFLOW, CIT All, Persons, AGQ 30-34  RESC All EST   72.2
8     INFLOW, CIT All, Persons, AGQ 35-39  RESC All EST   42.8
9     INFLOW, CIT All, Persons, AGQ 40-44  RESC All EST   26.7
10    INFLOW, CIT All, Persons, AGQ 45-49  RESC All EST     15
11    INFLOW, CIT All, Persons, AGQ 50-54  RESC All EST   12.7
12    INFLOW, CIT All, Persons, AGQ 55-59  RESC All EST      6
13    INFLOW, CIT All, Persons, AGQ 60-64  RESC All EST    1.9
14    INFLOW, CIT All, Persons, AGQ 65-69  RESC All EST    4.1
15    INFLOW, CIT All, Persons, AGQ 70-74  RESC All EST      1
16    INFLOW, CIT All, Persons, AGQ 75-79  RESC All EST    0.5
17    INFLOW, CIT All, Persons, AGQ 80-84  RESC All EST      .
18    INFLOW, CIT All, Persons, AGQ 85-89  RESC All EST      .
19  INFLOW, CIT All, Persons, AGQ 90 plus  RESC All EST      .
20     INFLOW, CIT All, Persons, AG1 0-16  RESC All EST   32.5
21    INFLOW, CIT All, Persons, AG1 17-18  RESC All EST   23.3
22    INFLOW, CIT All, Persons, AG1 19-21  RESC All EST   82.8
23    INFLOW, CIT All, Persons, AG1 22-59  RESC All EST  380.5
24    INFLOW, CIT All, Persons, AG1 60-64  RESC All EST    1.9
25  INFLOW, CIT All, Persons, AG1 65 plus  RESC All EST    5.6
26     INFLOW, CIT All, Persons, AG2 0-14  RESC All EST   26.2
27    INFLOW, CIT All, Persons, AG2 15-24  RESC All EST  200.1
28    INFLOW, CIT All, Persons, AG2 25-44  RESC All EST  259.1
29    INFLOW, CIT All, Persons, AG2 45-59  RESC All EST   33.7
30    INFLOW, CIT All, Persons, AG2 60-64  RESC All EST    1.9
31  INFLOW, CIT All, Persons, AG2 65 plus  RESC All EST    5.6
32         INFLOW, CIT All, Male, Age All  RESC All EST  277.3
33         INFLOW, CIT All, Male, AGQ 0-4  RESC All EST    4.7
34         INFLOW, CIT All, Male, AGQ 5-9  RESC All EST    7.2
35       INFLOW, CIT All, Male, AGQ 10-14  RESC All EST    4.7
36       INFLOW, CIT All, Male, AGQ 15-19  RESC All EST   22.2
37       INFLOW, CIT All, Male, AGQ 20-24  RESC All EST   73.8
38       INFLOW, CIT All, Male, AGQ 25-29  RESC All EST   62.3
39       INFLOW, CIT All, Male, AGQ 30-34  RESC All EST   37.2
40       INFLOW, CIT All, Male, AGQ 35-39  RESC All EST   26.2
41       INFLOW, CIT All, Male, AGQ 40-44  RESC All EST   16.1
42       INFLOW, CIT All, Male, AGQ 45-49  RESC All EST    8.4
43       INFLOW, CIT All, Male, AGQ 50-54  RESC All EST    6.9
44       INFLOW, CIT All, Male, AGQ 55-59  RESC All EST    2.3
45       INFLOW, CIT All, Male, AGQ 60-64  RESC All EST    1.8
46       INFLOW, CIT All, Male, AGQ 65-69  RESC All EST    2.1
47       INFLOW, CIT All, Male, AGQ 70-74  RESC All EST      1
48       INFLOW, CIT All, Male, AGQ 75-79  RESC All EST    0.5
49       INFLOW, CIT All, Male, AGQ 80-84  RESC All EST      .

In [10]:
new_table.shape

(73050, 3)

In [11]:
new_table.dropna(inplace=True)

In [12]:
new_table = new_table[new_table['Value'] != '.']

In [13]:
new_table = new_table[new_table['Value'] != '0']

In [14]:
new_table.head(50)

                                Row Label  Column label  Value
0       INFLOW, CIT All, Persons, Age All  RESC All EST  526.6
1       INFLOW, CIT All, Persons, AGQ 0-4  RESC All EST    8.1
2       INFLOW, CIT All, Persons, AGQ 5-9  RESC All EST   10.2
3     INFLOW, CIT All, Persons, AGQ 10-14  RESC All EST    7.9
4     INFLOW, CIT All, Persons, AGQ 15-19  RESC All EST   55.5
5     INFLOW, CIT All, Persons, AGQ 20-24  RESC All EST  144.6
6     INFLOW, CIT All, Persons, AGQ 25-29  RESC All EST  117.3
7     INFLOW, CIT All, Persons, AGQ 30-34  RESC All EST   72.2
8     INFLOW, CIT All, Persons, AGQ 35-39  RESC All EST   42.8
9     INFLOW, CIT All, Persons, AGQ 40-44  RESC All EST   26.7
10    INFLOW, CIT All, Persons, AGQ 45-49  RESC All EST     15
11    INFLOW, CIT All, Persons, AGQ 50-54  RESC All EST   12.7
12    INFLOW, CIT All, Persons, AGQ 55-59  RESC All EST      6
13    INFLOW, CIT All, Persons, AGQ 60-64  RESC All EST    1.9
14    INFLOW, CIT All, Persons, AGQ 65-69  RESC All EST    4.1
15    INFLOW, CIT All, Persons, AGQ 70-74  RESC All EST      1
16    INFLOW, CIT All, Persons, AGQ 75-79  RESC All EST    0.5
20     INFLOW, CIT All, Persons, AG1 0-16  RESC All EST   32.5
21    INFLOW, CIT All, Persons, AG1 17-18  RESC All EST   23.3
22    INFLOW, CIT All, Persons, AG1 19-21  RESC All EST   82.8
23    INFLOW, CIT All, Persons, AG1 22-59  RESC All EST  380.5
24    INFLOW, CIT All, Persons, AG1 60-64  RESC All EST    1.9
25  INFLOW, CIT All, Persons, AG1 65 plus  RESC All EST    5.6
26     INFLOW, CIT All, Persons, AG2 0-14  RESC All EST   26.2
27    INFLOW, CIT All, Persons, AG2 15-24  RESC All EST  200.1
28    INFLOW, CIT All, Persons, AG2 25-44  RESC All EST  259.1
29    INFLOW, CIT All, Persons, AG2 45-59  RESC All EST   33.7
30    INFLOW, CIT All, Persons, AG2 60-64  RESC All EST    1.9
31  INFLOW, CIT All, Persons, AG2 65 plus  RESC All EST    5.6
32         INFLOW, CIT All, Male, Age All  RESC All EST  277.3
33         INFLOW, CIT All, Male, AGQ 0-4  RESC All EST    4.7
34         INFLOW, CIT All, Male, AGQ 5-9  RESC All EST    7.2
35       INFLOW, CIT All, Male, AGQ 10-14  RESC All EST    4.7
36       INFLOW, CIT All, Male, AGQ 15-19  RESC All EST   22.2
37       INFLOW, CIT All, Male, AGQ 20-24  RESC All EST   73.8
38       INFLOW, CIT All, Male, AGQ 25-29  RESC All EST   62.3
39       INFLOW, CIT All, Male, AGQ 30-34  RESC All EST   37.2
40       INFLOW, CIT All, Male, AGQ 35-39  RESC All EST   26.2
41       INFLOW, CIT All, Male, AGQ 40-44  RESC All EST   16.1
42       INFLOW, CIT All, Male, AGQ 45-49  RESC All EST    8.4
43       INFLOW, CIT All, Male, AGQ 50-54  RESC All EST    6.9
44       INFLOW, CIT All, Male, AGQ 55-59  RESC All EST    2.3
45       INFLOW, CIT All, Male, AGQ 60-64  RESC All EST    1.8
46       INFLOW, CIT All, Male, AGQ 65-69  RESC All EST    2.1
47       INFLOW, CIT All, Male, AGQ 70-74  RESC All EST      1
48       INFLOW, CIT All, Male, AGQ 75-79  RESC All EST    0.5
52        INFLOW, CIT All, Male, AG1 0-16  RESC All EST   20.6
53       INFLOW, CIT All, Male, AG1 17-18  RESC All EST    8.9
54       INFLOW, CIT All, Male, AG1 19-21  RESC All EST   43.5
55       INFLOW, CIT All, Male, AG1 22-59  RESC All EST  198.8

In [15]:
new_table['Country of Residence'] = new_table['Column label'].replace(to_replace= r"RESC (.*)(EST|CI )$", value = "\\1", regex=True)
new_table['measure'] = new_table['Column label'].replace(to_replace= r".* (EST|CI )$", value = "\\1", regex=True)
new_table['Country of Residence'] = new_table['Country of Residence'].str.lower()
new_table['Country of Residence'] = new_table['Country of Residence'].str.strip()
new_table['measure'] = new_table['measure'].str.lower()
new_table['measure'] = new_table['measure'].str.strip()
new_table['Country of Residence'] = new_table['Country of Residence'].replace(to_replace= r" ", value = "-", regex=True)
# new_table['codelist'] = new_table['Column label'].str[0:4]
# new_table['codelist'] = new_table['codelist'].str.lower()
new_table['Row Label'] = new_table['Row Label'].str.lower()
temp_table = new_table['Row Label'].str.split(',', -1, expand=True)
new_table['Migration Flow'] = temp_table[0]
new_table['Citizenship'] = temp_table[1]
new_table['Sex'] = temp_table[2]
new_table['Age'] = temp_table[3]
new_table['Migration Flow'] = new_table['Migration Flow'].str.strip()
new_table['Migration Flow'] = new_table['Migration Flow'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Citizenship'] = new_table['Citizenship'].str.strip()
# new_table['Citizenship'] = new_table['Citizenship'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Sex'] = new_table['Sex'].str.strip()
new_table['Sex'] = new_table['Sex'].map(lambda cell:cell.replace('persons', 'T'))
new_table['Sex'] = new_table['Sex'].map(lambda cell:cell.replace('male', 'M'))
new_table['Sex'] = new_table['Sex'].map(lambda cell:cell.replace('feM', 'F'))
new_table['Age'] = new_table['Age'].str.strip()
# new_table['Age'] = new_table['Age'].replace(to_replace= r" ", value = ":", regex=True)
new_table['Geography'] = 'K02000001'
new_table['Unit'] = 'People (thousands)'
new_table['Measure Type'] = 'Count'
new_table['Year'] = '2016'
temp_table = new_table[:]
temp_table['Keys'] = temp_table['Row Label'] + '/' + temp_table['Column label']
temp_table['Keys'] = temp_table['Keys'].str.strip()
temp_table['Keys2'] = temp_table['Keys'].str.rstrip('EST')
temp_table['Keys2'] = temp_table['Keys2'].str.rstrip('CI')
temp_table['Keys2'] = temp_table['Keys2'].str.strip()
Final_table = pd.merge(temp_table, temp_table[['Keys2','Value','measure']], how = 'left', left_on = 'Keys2', right_on = 'Keys2')
Final_table = Final_table[Final_table['measure_x'] != Final_table['measure_y']]
Final_table = Final_table.drop_duplicates('Keys2', keep = 'first')
Final_table.columns = ['Value' if x=='Value_x' else x for x in Final_table.columns]
Final_table.columns = ['CI' if x=='Value_y' else x for x in Final_table.columns]
Final_table['Value'] = Final_table['Value'].astype(float)
Final_table['Year'] = Final_table['Year'].astype(int)
Final_table['CI'] = Final_table['CI'].astype(float)
Final_table = Final_table[['Geography','Year','Country of Residence','Migration Flow','Citizenship','Sex','Age','Measure Type','Value','CI','Unit']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
Final_table

,Geography,Year,Country of Residence,Migration Flow,Citizenship,Sex,Age,Measure Type,Value,CI,Unit
1,K02000001,2016,all,inflow,cit all,T,age all,Count,526.6,34.4,People (thousands)
3,K02000001,2016,all,inflow,cit all,T,agq 0-4,Count,8.1,3.2,People (thousands)
5,K02000001,2016,all,inflow,cit all,T,agq 5-9,Count,10.2,7.0,People (thousands)
7,K02000001,2016,all,inflow,cit all,T,agq 10-14,Count,7.9,3.9,People (thousands)
9,K02000001,2016,all,inflow,cit all,T,agq 15-19,Count,55.5,10.0,People (thousands)
11,K02000001,2016,all,inflow,cit all,T,agq 20-24,Count,144.6,20.0,People (thousands)
13,K02000001,2016,all,inflow,cit all,T,agq 25-29,Count,117.3,14.6,People (thousands)
15,K02000001,2016,all,inflow,cit all,T,agq 30-34,Count,72.2,13.1,People (thousands)
17,K02000001,2016,all,inflow,cit all,T,agq 35-39,Count,42.8,9.0,People (thousands)
19,K02000001,2016,all,inflow,cit all,T,agq 40-44,Count,26.7,7.3,People (thousands)
21,K02000001,2016,all,inflow,cit all,T,agq 45-49,Count,15.0,6.1,People (thousands)
23,K02000001,2016,all,inflow,cit all,T,agq 50-54,Count,12.7,5.1,People (thousands)
25,K02000001,2016,all,inflow,cit all,T,agq 55-59,Count,6.0,2.9,People (thousands)
27,K02000001,2016,all,inflow,cit all,T,agq 60-64,Count,1.9,1.4,People (thousands)
29,K02000001,2016,all,inflow,cit all,T,agq 65-69,Count,4.1,3.0,People (thousands)
31,K02000001,2016,all,inflow,cit all,T,agq 70-74,Count,1.0,2.0,People (thousands)
33,K02000001,2016,all,inflow,cit all,T,agq 75-79,Count,0.5,1.0,People (thousands)
35,K02000001,2016,all,inflow,cit all,T,ag1 0-16,Count,32.5,9.3,People (thousands)
37,K02000001,2016,all,inflow,cit all,T,ag1 17-18,Count,23.3,6.3,People (thousands)
39,K02000001,2016,all,inflow,cit all,T,ag1 19-21,Count,82.8,16.0,People (thousands)
41,K02000001,2016,all,inflow,cit all,T,ag1 22-59,Count,380.5,28.0,People (thousands)
43,K02000001,2016,all,inflow,cit all,T,ag1 60-64,Count,1.9,1.4,People (thousands)
45,K02000001,2016,all,inflow,cit all,T,ag1 65 plus,Count,5.6,3.8,People (thousands)
47,K02000001,2016,all,inflow,cit all,T,ag2 0-14,Count,26.2,8.6,People (thousands)
49,K02000001,2016,all,inflow,cit all,T,ag2 15-24,Count,200.1,22.3,People (thousands)
51,K02000001,2016,all,inflow,cit all,T,ag2 25-44,Count,259.1,22.8,People (thousands)
53,K02000001,2016,all,inflow,cit all,T,ag2 45-59,Count,33.7,8.5,People (thousands)
55,K02000001,2016,all,inflow,cit all,T,ag2 60-64,Count,1.9,1.4,People (thousands)
57,K02000001,2016,all,inflow,cit all,T,ag2 65 plus,Count,5.6,3.8,People (thousands)
59,K02000001,2016,all,inflow,cit all,M,age all,Count,277.3,25.9,People (thousands)
...,...,...,...,...,...,...,...,...,...,...,...
92227,K02000001,2016,oceania,balance,cit not british or british overseas,M,agq 50-54,Count,-0.1,0.2,People (thousands)
92229,K02000001,2016,oceania,balance,cit not british or british overseas,M,agq 55-59,Count,0.1,0.1,People (thousands)
92231,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag1 0-16,Count,-0.1,0.4,People (thousands)
92233,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag1 19-21,Count,0.0,0.5,People (thousands)
92235,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag1 22-59,Count,5.4,3.9,People (thousands)
92237,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag2 0-14,Count,-0.1,0.4,People (thousands)
92239,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag2 15-24,Count,1.1,1.4,People (thousands)
92241,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag2 25-44,Count,4.3,3.6,People (thousands)
92243,K02000001,2016,oceania,balance,cit not british or british overseas,M,ag2 45-59,Count,0.0,0.3,People (thousands)
92245,K02000001,2016,oceania,balance,cit not british or british overseas,F,age all,Count,3.5,3.1,People (thousands)
92247,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 10-14,Count,0.3,0.5,People (thousands)
92249,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 15-19,Count,0.2,0.7,People (thousands)
92251,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 20-24,Count,1.8,1.5,People (thousands)
92253,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 25-29,Count,1.8,2.2,People (thousands)
92255,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 30-34,Count,-0.3,0.8,People (thousands)
92257,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 35-39,Count,0.0,0.5,People (thousands)
92259,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 40-44,Count,-0.4,0.5,People (thousands)
92261,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 45-49,Count,-0.1,0.7,People (thousands)
92263,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 50-54,Count,0.1,0.4,People (thousands)
92265,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 55-59,Count,0.1,0.2,People (thousands)
92267,K02000001,2016,oceania,balance,cit not british or british overseas,F,agq 65-69,Count,-0.1,0.2,People (thousands)
92269,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag1 0-16,Count,0.3,0.5,People (thousands)
92271,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag1 19-21,Count,1.0,1.2,People (thousands)
92273,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag1 22-59,Count,2.2,2.8,People (thousands)
92275,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag1 65 plus,Count,-0.1,0.2,People (thousands)
92277,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag2 0-14,Count,0.3,0.5,People (thousands)
92279,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag2 15-24,Count,2.0,1.6,People (thousands)
92281,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag2 25-44,Count,1.1,2.5,People (thousands)
92283,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag2 45-59,Count,0.2,0.8,People (thousands)
92285,K02000001,2016,oceania,balance,cit not british or british overseas,F,ag2 65 plus,Count,-0.1,0.2,People (thousands)

In [17]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

Final_table.to_csv(destinationFolder / ('tidydata4.01A.csv'), index = False)

In [18]:
writeMetadata(metadata, 'ONS-LTIM-Passenger-survey-4.01A', 'Migration')

In [19]:
Final_table.count()

Geography               23577
Year                    23577
Country of Residence    23577
Migration Flow          23577
Citizenship             23577
Sex                     23577
Age                     23577
Measure Type            23577
Value                   23577
CI                      23577
Unit                    23577
dtype: int64